@page
@model RazorContactManagement.Pages.AddContactsModel
@{
}
<form method="post">
    <div style="width:500px;margin-left:300px">
        <input type="text" name="Contactid" placeholder="Contactid" class="form-control" />
        <input type="text" name="Firstname" placeholder="FirstName" class="form-control" />
        <input type="text" name="Lastname" placeholder="Lastname" class="form-control" />
        <input type="text" name="Mobileno" placeholder="Mobileno" class="form-control" />
        <input type="text" name="Email" placeholder="Email" class="form-control" />
        <input type="text" name="Uimage" placeholder="Uimage" class="form-control" />
        <input type="submit" value="Add Contacts" class="btn btn-success" />
    </div>
</form>
<div style="background-color:steelblue;color:aquamarine"></div>