@page
@model RazorContactManagement.Pages.IndexModel
@{
}

    

<h1 style="color:darkslateblue">Contact Management Application</h1>

<div style="color:palevioletred">
Welcome To Contact Management</div>
